.myModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.8);
}

.myModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #646cff;
    width: max-content;
    padding: 15px;
    border-radius: 5px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}