.myModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: white;
    border-radius: 16px;
    width: max-content;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}